<head>
    <title>PeerBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>

    <script type="text/javascript">
        var appurl = "http://peerbook.kaheichan.com:8080";
        open();
        window.scrollTo(0, 1);
        function open(){

        $.post(appurl+"/file/status", {},
                function(data){

                    if (data == null || typeof data == 'undefined') {
                    }
                    var fileList = data.fileList;
                    console.log(fileList);
                    for(var i=0; i<fileList.length; i++){
                        $('#test').append('<li><b>ID: </b>' + fileList[i].id + '<b> Path: </b>' + fileList[i].path + '</li>');
                        $('#test').listview("refresh");
                    }
                });
        }
    </script>

</head>
<body>

<div data-role="page" id="home">

    <div data-role="header">
        <h1>PeerBook</h1>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="content">
            <ul id="test" data-role="listview" data-inset="true" data-filter="true">
            </ul>
        </div>
    </div><!-- /content -->

</div><!-- /page -->
</body>
